htsjdk.iws
.command_tmp
testclasses
javadoc
dist
contracts
atlassian-ide-plugin.xml
intellij.testclasses
intellij.classes
/htsjdk.version.properties
/bin
/test-output
/target
.idea/workspace.xml
.idea/libraries
/project/target
/project/project